{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title text-center">Password Change</h1>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
              <input type="submit" class="btn btn-success" value="Change">
            </div>
          </form>
        </div>
        </div>
        </div>
        </div>
        </div>
{% endblock content %}
