{% extends 'base.html' %}

{% block title %}Welcome!{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>Welcome to DonQ's Blog!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur ante ut dui facilisis tincidunt.
        Nam pulvinar pharetra metus. Vestibulum neque felis, faucibus vel massa non, porttitor egestas erat. Donec sed
        velit fringilla, euismod augue nec, convallis est. Vivamus viverra aliquam fringilla. Donec viverra placerat mi
        id scelerisque. Vestibulum pellentesque varius volutpat. Fusce sem mi, interdum a metus ac, consequat vestibulum
        enim. Quisque imperdiet sem vitae luctus feugiat. Vivamus ac nunc in nisl mattis dictum quis nec mi. Etiam
        mollis
        commodo odio, sit amet pulvinar magna. Phasellus ut iaculis massa. Nulla facilisi. Suspendisse orci eros,
        blandit
        nec posuere eget, scelerisque a eros. Aliquam at quam nec neque cursus ultricies quis in arcu. Nam eu risus
        commodo, volutpat quam ac, consequat urna.
      </p>
      <p>
        Sed sodales, risus eget finibus convallis, ipsum ipsum sollicitudin ipsum, at eleifend sapien velit eget diam.
        Quisque rhoncus odio quis ante lacinia volutpat. Nunc porttitor at metus quis scelerisque. Mauris et massa sed
        augue congue tristique. Nullam elementum, felis condimentum imperdiet feugiat, nibh felis eleifend massa, a
        egestas turpis turpis tincidunt justo. Curabitur pharetra facilisis felis, non luctus enim dictum ac. Quisque ut
        cursus risus, congue molestie mauris. Mauris sollicitudin eros ac leo condimentum volutpat. Nulla facilisi.
        Donec accumsan ullamcorper urna, et dapibus ex tempor et. Nulla dui ante, porta eu semper nec, facilisis et
        metus.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque
        commodo
        luctus gravida.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ipsum vitae risus venenatis fermentum.
        Nam nec nisi sed nunc dignissim interdum. Morbi malesuada tempus bibendum. Praesent purus velit, blandit ut
        dapibus a, posuere non enim. Ut eget sem vitae felis condimentum gravida quis a ante. Curabitur lobortis quis
        mi vitae venenatis. Nunc tincidunt, nibh et condimentum aliquet, lorem tortor condimentum sem, ac malesuada
        metus
        urna vitae magna. Maecenas vitae magna dapibus, laoreet urna quis, ultrices metus.
      </p>
      <p>
        Pellentesque in nisl a ligula congue sodales. Morbi pulvinar eros ut est tincidunt, quis accumsan sapien
        interdum. Nulla feugiat, augue vitae feugiat fringilla, justo quam porta metus, vitae suscipit massa lectus
        pellentesque leo. Aenean et vulputate erat. Fusce tempor consectetur nunc vitae pellentesque. Fusce dolor odio,
        auctor id turpis nec, sollicitudin pretium odio. Curabitur non nisl sed ex tincidunt fermentum ac eget ex.
        Aenean
        a ultricies ante. Sed semper molestie turpis, ultrices tristique elit condimentum posuere. Donec semper finibus
        orci, a pellentesque lorem tempor lobortis. Donec diam quam, posuere at leo nec, elementum consequat nisl. Proin
        convallis commodo leo, non fermentum ipsum consequat vel.
      </p>
      <p>
        Duis bibendum aliquet nibh, sed mattis neque lobortis id. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Sed tincidunt magna id eros varius, sit amet tincidunt quam hendrerit. Praesent
        viverra purus vitae sem pellentesque, eget porta nisl tristique. Nunc lobortis nunc sed scelerisque vehicula.
        Praesent dapibus purus rhoncus, condimentum nisi ac, egestas tortor. Etiam eleifend nisi a eleifend sodales.
        Aliquam ac ullamcorper turpis. Etiam ut mi vel lacus rutrum ornare non et ante. Mauris hendrerit libero sed
        libero
        faucibus, at rhoncus nisl malesuada. Mauris cursus efficitur pharetra. Duis sed magna ut felis tempus cursus ac
        vel odio.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
