form>p>label {
  color: red;
  padding: 10px;
  margin: 10px;
}

form>p>input[type="text"] {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 8px;
}

form>p>textarea {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 8px;
}

#id_title {
  font-size: 24;
}